:root {
    --sky-dark: #202040;
}

body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    overflow: hidden;
    animation: darken 12s ease-in infinite;
}

.sky {
    width: 100%;
    height: 70%;
    background: linear-gradient(var(--sky-dark) 70%, #444466 95%, #505072);
}

.message {
    position: absolute;
    text-align: center;
    right: 15%;
    top: 140px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    font-style: italic;
    z-index: 105;
    opacity: 0%;
    animation: appear 12s infinite;

}

.moon-outer {
    position: absolute;
    width: 18vh;
    height: 18vh;
    background: radial-gradient(circle, #fff, #ee1);
    border-radius: 50%;
    top: 45px;
    left: 45px;
    /* box-shadow: -4px 0 8px 5px white, -5px 0 11px 4px #33f, -6px 0 14px 5px #118,
        -10px 0 18px 15px #335; */
    box-shadow: -0 0 12px 5px white, 0 0 28px 5px #aaf, 0 0 48px 25px #88e;
}

.moonglow {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top left, #323252, var(--sky-dark));
}

.tree {
    position: absolute;
    width: 20%;
    height: 50%;
    z-index: 1;
}

.trunk {
    position: inherit;
    width: 0;
    height: 0;
    border: 30px solid #480812;
    border-color: transparent transparent #480812 transparent;
    border-top-width: 20px;
    border-bottom-width: 260px;
    border-left-width: 30px;
    border-right-width: 30px;
}

.leaves1 {
    position: inherit;
    width: 0;
    height: 0;
    border: 30px solid #113511;
    border-color: transparent transparent #103010 transparent;
    border-top-width: 20px;
    border-bottom-width: 160px;
    border-left-width: 80px;
    border-right-width: 80px;
    top: 35px;
    left: -50.5px;
}

.leaves2 {
    position: inherit;
    width: 0;
    height: 0;
    border: 30px solid #113511;
    border-color: transparent transparent #113511 transparent;
    border-top-width: 20px;
    border-bottom-width: 120px;
    border-left-width: 70px;
    border-right-width: 70px;
    top: 20px;
    left: -40px;
}

.leaves3 {
    position: inherit;
    width: 0;
    height: 0;
    border: 30px solid #113511;
    border-color: transparent transparent #123812 transparent;
    border-top-width: 20px;
    border-bottom-width: 90px;
    border-left-width: 60px;
    border-right-width: 60px;
    top: 0px;
    left: -29.5px;
}

.t1 {
    top: 47%;
    left: 8.5%;
    z-index: 30;
}

.t2 {
    top: 43%;
    left: 14.5%;
    scale: 0.82;
    z-index: 29;
}

.t3 {
    top: 40%;
    left: 20.5%;
    scale: 0.64;
    z-index: 28;
}

.t4 {
    top: 39.5%;
    left: 25.5%;
    scale: 0.52;
    z-index: 27;
}

.t5 {
    top: 39.5%;
    left: 32.5%;
    scale: 0.52;
    z-index: 26;
}

.t6 {
    top: 39.5%;
    left: 39.5%;
    scale: 0.52;
    z-index: 25;
}

.t7 {
    top: 39.5%;
    left: 46.5%;
    scale: 0.52;
    z-index: 24;
}

.t8 {
    top: 39.5%;
    left: 53.5%;
    scale: 0.52;
    z-index: 23;
}

.t9 {
    top: 39.5%;
    left: 60.5%;
    scale: 0.52;
    z-index: 22;
}

.t10 {
    top: 40%;
    left: 67.5%;
    scale: 0.64;
    z-index: 28;
}

.t11 {
    top: 43%;
    left: 75.5%;
    scale: 0.82;
    z-index: 29;
}

.t12 {
    top: 47%;
    left: 83.5%;
    z-index: 30;
}

.bigtree {
    top: 33%;
    left: 53.4%;
    scale: 1.8;
    z-index: 100;
}

.present1 {
    position: absolute;
    width: 90px;
    height: 67px;
    background-color: darkblue;
    top: 550px;
    left: 40vw;
    z-index: 101;
}

.square {
    position: absolute;
    width: 44%;
    height: 44%;
}

.red {
    background-color: darkred;
}

.green {
    background-color: #141;
}

.innersquare2 {  left: 56%;  }

.innersquare3 {  top: 56%;   }

.innersquare4 {  top: 56%; left: 56%;    }

.present2 {
    position: absolute;
    width: 67px;
    height: 120px;
    background-color: #414;
    top: 520px;
    left: 53%;
    z-index: 101;
}

.present3 {
    position: absolute;
    width: 190px;
    height: 40px;
    background: repeating-linear-gradient(90deg, gold, gold 10%, purple 10%, purple 20%);
    border-radius: 8px;
    top: 590px;
    left: 40%;
    transform: rotate(-40deg);
    z-index: 102;
}

.ground {
    position: absolute;
    width: 100%;
    height: 30vh;
    background: radial-gradient(circle, #181, #121);
    bottom: 0;
    z-index: -10;
}

@keyframes darken {
    0% {
        filter:grayscale(100%)
    }
    50% {
        filter:grayscale(0%)
    }
    100% {
        filter:grayscale(0%)
    }
}

@keyframes appear {
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}